* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #e0f2fe, #bae6fd);
    color: #0f172a;
}

/* NAVBAR */
nav {
    background: #e0f2fe;
    padding: 20px 60px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    font-size: 22px;
    font-weight: 600;
    color: #0284c7;
}

.links a {
    margin-left: 25px;
    text-decoration: none;
    color: #0f172a;
    font-weight: 400;
}

.links a:hover {
    color: #0284c7;
}

.hamburg {
    display: none;
    font-size: 22px;
    cursor: pointer;
}

/* DROPDOWN */
.dropdown {
    position: absolute;
    top: -350px;
    left: 0;
    width: 100%;
    background: #bae6fd;
    text-align: center;
    transition: 0.4s;
}

.dropdown a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #0f172a;
}

.cancel {
    font-size: 22px;
    color: #0284c7;
    cursor: pointer;
}

/* HERO */
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 40px;
}

/* IMAGE */
.image img {
    width: 280px;
    border-radius: 50%;
    border: 4px solid #0284c7;
}

/* CONTENT */
.content span {
    color: #0284c7;
}

.content p {
    margin: 15px 0;
}

/* SOCIAL ICONS */
.social-links a {
    font-size: 22px;
    margin-right: 15px;
    color: #0284c7;
}

.social-links a:hover {
    color: #0369a1;
}

/* BUTTON */
.btn button {
    margin-top: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    background: #0284c7;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .links {
        display: none;
    }

    .hamburg {
        display: block;
    }

    .main-container {
        flex-direction: column;
        text-align: center;
    }
}
.cv-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    border-radius: 25px;
    background: #0284c7;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.cv-btn:hover {
    background: #0369a1;
}
